# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

## auto gen files
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/.libs/
src/3rd/aes/.deps/
src/3rd/aes/.dirstamp
src/3rd/ikcp/.deps/
src/3rd/ikcp/.dirstamp
src/3rd/jsmn/.deps/
src/3rd/jsmn/.dirstamp
src/3rd/libuev/.deps/
src/3rd/libuev/.dirstamp
src/3rd/md5/.deps/
src/3rd/md5/.dirstamp
src/Makefile
src/Makefile.in
src/sectun
stamp-h1
